input[type="text"]{
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #efefef;
    color: #666;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
}

