.Programs {
    grid-row-start:    programs-start;
    grid-row-end:       programs-end;
    grid-column-start:    programs-start;
    grid-column-end:      programs-end;

    overflow: scroll;
}

.Programs .hover-text{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    height: 1em;
    padding: 3px;
    color: gray;
}

.Programs svg {
    // height: 100px;
    cursor: pointer;
}

.Programs rect {
    fill: gray;
    pointer-events: all;
}

.Programs rect:hover{
    fill: black;
    cursor: pointer;
}


.Programs rect:hover,
.Programs rect.highlighted {
    cursor: pointer;
    fill: black;
}