.BirthYear {
    grid-row-start:    birthyear-start;
    grid-row-end:      birthyear-end;
    grid-column-start:    birthyear-start;
    grid-column-end:      birthyear-end;
}

.BirthYear{
    .birth.bar{
        fill: gray;
    }

    .recording.bar{
        fill: lightgreen;
    }

    .slider-container{
        display:flex;
        justify-content: space-around;
    }
    .half { 
        box-sizing: border-box;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}