.BirthYear.BirthYear.subset-mode {
  .bar {
    transition: fill 0.5s ease;
    fill: $color-robinegg;
  }

  .slider-container {
    .half {
      .DoubleSlider {
        .handle {
          cursor: pointer;
        }
        .handle:hover {
          text {
            fill: $color-teal;
            transition: fill 0.2s ease;
          }
        }

        rect.highlight {
          transition: fill 0.5s ease;
          fill: $color-robinegg;
        }
      }
    }
  }
}

.BirthYear {
  .DoubleSlider {
    .track-label {
      font-size: 14px;
      font-family: $font-sans;
      font-weight: 700;
      margin-right: 4px;
    }
  }
  // .bar{
  //     // stroke: green;
  //     // stroke-width: 1;
  // }
  // .birth.bar{
  //     fill: $color-marigold;
  // }

  // .recording.bar{
  //     fill: $color-teal;
  // }

  .bar {
    fill: $color-fortunoff;
  }

  .Histogram {
    margin: 0px 30px;
    max-width: 2000px;
  }

  .slider-container {
    display: flex;
    justify-content: space-around;
    //margin: 30px 30px;

    .half {
      box-sizing: border-box;
      width: 50%;
      display: flex;
      justify-content: center;
      text-align: center;

      .DoubleSlider {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 350px;

        .handle rect {
          fill: white;
          stroke-width: 0.75;
          stroke: $color-darkgray;
        }

        .handle rect:hover {
          stroke: $color-yaleblack;
          cursor: pointer;
        }

        rect.highlight {
          fill: $color-fortunoff;
        }

        rect.track {
          fill: $color-lightgray;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .BirthYear {
    .Histogram {
      .Viz {
        svg {
          height: 120px;
        }
      }
    }

    .slider-container {
      display: block;

      .half {
        width: unset;
      }
    }
  }
}
