// .Programs,
// .BirthPlaces {
// }

.Programs {
  display: unset;
  position: relative;

  // .hover-text{
  //     font-family: $font-sans;
  //     font-size: 12px;
  // }

  //justify-content: space-between;

  svg {
    height: 380px;
  }
  rect {
    fill: $color-robinegg;
  }

  rect.highlighted,
  rect:hover {
    fill: $color-teal;
  }

  .ItemSelector {
    background-color: $color-backgroundgray;
    font-family: $font-sans;

    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
  }
}
