.Results {
    font-family: $font-sans;
    padding: 0px 80px;
    box-sizing: border-box;
    max-width: 100%;

    .result-item{
        background-color: white;
        height: 60px;
        border-left: 10px solid $color-robinegg;
        margin-bottom: 16px;
        border-radius: 8px;

        
    }


    .result-item:hover{
        border: 1px solid $color-resultsborder;
        border-left: 10px solid $color-fortunoff;

    }
}