
body {
    margin: 0px;
}

.MetaDash {
    font-family: "Georgia";
    //font-size:12px;    
    display: grid;
    grid-template-rows: repeat(6,200px);
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:    //"overview  overview  overview  overview"
                            "billboard birthyear birthyear      interviewers"
                            "gender    birthyear birthyear      interviewers"
                            "languages  birthplace  birthplace  interviewers"
                            "languages  programs    programs    interviewers"
                            "subjects  subjects  subjects  subjects"

}

.MetaDash input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;

}

.MetaDash .tagfilter-collection {
    display: flex;
}

.OverviewBillboard { 
    grid-row-start:    billboard-start;
    grid-row-end:      billboard-end;
}

.Gender {
    grid-area: gender-start / gender-start / gender-end / gender-end;
}

.Languages {
    grid-area: languages-start / languages-start / languages-end / languages-end;
}

