.DoubleSlider{
    .Viz svg {
        height: 50px;
    }

    rect.handle{
        cursor: pointer;
    }

    rect.handle.active{
        fill: gray;
    }

    rect.track{
        fill:gray;
    }

    .label-container{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }
}