.DoubleSlider{
    .Viz svg {
        height: 30px;
    }

    rect.handle{
        cursor: pointer;
    }

    rect.handle.active{
        fill: gray;
    }

    rect.track{
        fill:gray;
    }
}