.DoubleSlider{
    .Viz svg {
        height: 30px;
    }

    rect.handle{
        cursor: pointer;
    }

    rect.handle.active{
        fill: gray;
    }

    rect.track{
        fill:gray;
    }

    .label-container{
        display: flex;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        justify-content: space-between;
        padding: 0px 20px;
    }
}